.scroll-float {
    overflow: hidden;
}

.scroll-float-text {
    display: inline-block;
    /* Font size controlled by textClassName prop, not here */
    text-align: center;
    line-height: 1.2;
}

.char {
    display: inline-block;
}